
        <div class="headban seespotheadban">
            <div class="middle_wrap">
                <h1>볼거리</h1>
                <ul class="mnavi">
                    <li><a href="#">주요관광지</a></li>
                    <li><a href="#">거리예술학교</a></li>
                    <li><a href="#">행사이벤트안내</a></li>
                </ul>
            </div>       
        </div>    
    <main>
        <section class="asec1">
            <iframe src="https://www.youtube.com/embed/WF9vYJ52syk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
        <div class="wrap100 hash">
            <h2>#다양한볼거리 #거리예술학교</h2>
        </div>
        <section class="sec2 wrap1200">
            <article class="sec_wrap">
                <figure>
                    <div>
                        <a href="">
                            <img src="../img/seomoon/artschool/semoon_fic1.jpg">
                        </a>
                        <div class="fig_text">
                            <h2>서문가요제</h2>
                            <h4>상시 준비</h4>
                        </div>
                    </div>
                    <figcaption>
                        <strong>서문 가요제</strong>
                        <p>음악과 함께 즐기는 가요제</p>
                    </figcaption>
                </figure>
                <figure>
                    <div>
                        <a href="">
                            <img src="../img/seomoon/artschool/seomoon_fic2.jpg">
                        </a>
                        <div class="fig_text">
                            <h2>다양한 공연</h2>
                            <h4>20:00~23:00</h4>
                        </div>
                    </div>
                    <figcaption>
                        <strong>다양한 공연</strong>
                        <p>남녀노소 즐기는 신나는 공연</p>
                    </figcaption>
                </figure>
                <figure>
                    <div>
                        <a href="">
                            <img src="../img/seomoon/artschool/semoon_fic3.jpg">
                        </a>
                        <div class="fig_text">
                            <h2>상설 공연</h2>
                            <h4>19:15~23:00</h4>
                        </div>
                    </div>
                    <figcaption>
                        <strong>상설공연</strong>
                        <p>다양한 볼거리와 공연</p>
                    </figcaption>
                </figure>
            </article>
        </section>
        <div class="wrap100 hash">
            <h2>#새로운"FUN"문화공간 #서문야시장이품은다양한즐거움!</h2>
        </div>
        <section class="sec3  wrap1200">
            <article class="sec_wrap">
                <figure>
                    <div>
                        <a href="">
                            <img src="../img/seomoon/artschool/sumoon_pic4.jpg">
                        </a>
                        <div class="fig_text">
                            <h2>미디어파사드</h2>
                            <h4>미디어(media)와 건물의 외벽을 뜻하는 파사드(facade)의 합성어로 건물의 외벽에 다양한 콘텐츠 영상을 투사하는 첨단 예술. 서문시장 주차타워 벽면을 빔에서 쏘아져나오는 화려하고 다이나믹한 서문 야시장의 미디어파사드를 놓치지 마세요.</h4>
                        </div>
                    </div>
                    
                </figure>
                <figure>
                    <div>
                        <a href="">
                            <img src="../img/seomoon/artschool/sumoon_pic5.jpg">
                        </a>
                        <div class="fig_text">
                            <h2>인터랙티브 미디어아트</h2>
                            <h4>맛있는 음식을 맛보기 위해 기다림은 필수! 그런 당신의 머리위로 야시장매대를 밝혀주는 미디어아트가 있습니다. 마치 불꽃을 연상시키는 미디어아트, 그 화려함에 홀릴 수 있으니 주의하세요!</h4>
                        </div>
                    </div>
                    
                </figure>
                <figure>
                    <div>
                        <a href="">
                            <img src="../img/seomoon/artschool/sumoon_pic6.jpg">
                        </a>
                        <div class="fig_text">
                            <h2>포토존</h2>
                            <h4>350M에 달하는 80여개 매대의 끝에는 야시장 공식 포토존이 자리하고 있습니다. 먹고 즐기는 야시장 투어의 완성! 바로 인증샷이죠! 3호선 모노레일을 상징하는 포토존에서 잠시 쉬었다가 인생 셀카도 남기고 가세요!</h4>
                        </div>
                    </div>
                
                </figure>
            </article>
        </section>
        
    </main>  
    