
        <div class="headban seespotheadban">
            <div class="middle_wrap">
                <h1>볼거리</h1>
                <ul class="mnavi">
                    <li><a href="#">주요관광지</a></li>
                    <li><a href="#">거리예술학교</a></li>
                    <li><a href="#">행사이벤트안내</a></li>
                </ul>
            </div>       
        </div>    
    </header>
    <main>
        <section class="wrap1200 table_search_wrap">
            <article class="search_wrap">
                <h4>SEARCH</h4>
                <div class="search_scroll_box">
                    <select class="search_scroll">
                        <option>제목</option>
                        <option>내용</option>
                    </select>
                </div>
                <div class="search_textbox">
                    <input type="text" placeholder="검색어를 입력하세요">
                    <div class="search_click"></div>
                </div>    
            </article>
            <article class="tablelist_wrap">
                <table>
                    <colgroup>
                        <col class="picture">
                        <col class="food_title">
                        <col class="food_more">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>사진</th>
                            <th>이름/위치</th>
                            <th>상세보기</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td_picture">
                                <a href="">
                                    <img src="../img/seomoon/seespot/kimkwangsuckroad.jpg">
                                </a>
                            </td>
                            <td class="td_title">
                                <a href="">김광석 다시 그리기길</a>
                                <p>위치 : 대구시 중구 대봉동</p>
                                <p>Tel : 070-811-3024</p>
                            </td>
                            <td class="td_food_more">
                                <button>상세보기</button>
                            </td>
                        </tr>    
                        <tr>
                            <td class="td_picture">
                                <a href="">
                                    <img src="../img/seomoon/seespot/a2.jpg">
                                </a>
                            </td>
                            <td class="td_title">
                                <a href="">약령시</a>
                                <p>위치 : 대구시 중구 달구벌대로 415길 49</p>
                                <p>Tel : 053-253-4729</p>
                            </td>
                            <td class="td_food_more">
                                <button>상세보기</button>
                            </td>
                        </tr>   
                        <tr>
                            <td class="td_picture">
                                <a href="">
                                    <img src="../img/seomoon/seespot/a3.jpg">
                                </a>
                            </td>
                            <td class="td_title">
                                <a href="">대구향교</a>
                                <p>위치 : 대구시 중구 명륜로 112</p>
                                <p>Tel : 053-422-8700</p>
                            </td>
                            <td class="td_food_more">
                                <button>상세보기</button>
                            </td>
                        </tr>   
                        <tr>
                            <td class="td_picture">
                                <a href="">
                                    <img src="../img/seomoon/seespot/2086272_513860_1302.jpg">
                                </a>
                            </td>
                            <td class="td_title">
                                <a href="">동산의료원 의료선교 박물관</a>
                                <p>위치 : 대구시 중구 달성로 56</p>
                                <p>Tel : 053-250-7100</p>
                            </td>
                            <td class="td_food_more">
                                <button>상세보기</button>
                            </td>
                        </tr>   
                        <tr>
                            <td class="td_picture">
                                <a href="">
                                    <img src="../img/seomoon/seespot/a5.jpg">
                                </a>
                            </td>
                            <td class="td_title">
                                <a href="">대구예술발전소</a>
                                <p>위치 : 대구시 중구 달성로 22길 31-12</p>
                                <p>Tel : 053-803-6252</p>
                            </td>
                            <td class="td_food_more">
                                <button>상세보기</button>
                            </td>
                        </tr>   
                        <tr>
                            <td class="td_picture">
                                <a href="">
                                    <img src="../img/seomoon/seespot/a6.jpg">
                                </a>
                            </td>
                            <td class="td_title">
                                <a href="">대구콘서트하우스</a>
                                <p>위치 : 대구시 중구 태평로 141</p>
                                <p>Tel : 053-250-1400</p>
                            </td>
                            <td class="td_food_more">
                                <button>상세보기</button>
                            </td>
                        </tr>   
                        
                                  
                    </tbody>
                </table>
            </article>    
            <article class="table_num">
                <div>
                    <a href="#">&lt;&lt;</a>
                    <a href="#">&lt;</a>
                    <a class="pass" href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">7</a>
                    <a href="#">8</a>
                    <a href="#">9</a>
                    <a href="#">10</a>
                    <a class="pass" href="#">></a>
                    <a  href="#">>></a>
                </div>    
            </article>            
        </section>
    </main>  
   