
    </header>
    <section id="login_wrap">
        <a href="/">
            <div>X</div>
        </a>
        <h2>로그인</h2>
        <form>
            <div class="login_box">
                <input class="login_box_text" id="login_id" type="text" placeholder="아이디를 입력해주세요">
                <div class="login_box_error"></div>
            </div>
            <div class="login_box">
                <input class="login_box_text" id="login_password" type="password" placeholder="비밀번호를 입력해주세요">
                <div class="login_box_error"></div>
            </div>
            <div class="login_box">
                <button class="login_box_text" id="login_button" data-button-style="filled-primary" onclick="prospectLogin(); return false;">로그인</button>
            </div>
            
            <div class="add_mem">
                <a href="join">
                    회원가입
                </a>
            </div>
        </form>
    </section>
    
</body>
</html>