
    </header>
    <section id="login_wrap">
        <a href="/">
            <div>X</div>
        </a>
        <h2>회원가입</h2>
        <form>
            <div class="join_wrap">
                <label for="id_input" class="join_label">
                    아이디
                    <span class="point_text">*</span>
                    <span class="join_sub_text">5-15자/영문소문자,숫자,특수기호‘_’</span>
                </label>
                <input id="id_input" name="username" type="text" placeholder="아이디" class="join_input">
                <button type="button" class="join_button">중복확인</button>
            </div>
            <div class="join_wrap">
                <label for="pw_input" class="join_label">
                    비밀번호
                <span class="point_text">*</span>                    
                </label>
                <input id="pw_input" name="password" type="password" placeholder="비밀번호" class="join_input">
            </div>
            <div class="join_wrap">
                <label for="pw_input" class="join_label">
                    비밀번호 확인
                    <span class="point_text">*</span>                    
                </label>
                <input id="pw_input" name="password" type="password" placeholder="비밀번호 확인" class="join_input">
            </div>
            <div class="information_wrap">
                <div class="join_wrap">
                    <label for="name" class="join_label">
                        이름
                    </label>
                    <input id="name" name="name" type="text" placeholder="이름" class="join_input">
                </div>    
                <div class="join_wrap">
                    <label for="birth_input" class="join_label">
                        생년월일
                    </label>
                    <input id="birth_input" name="birthday" type="text" placeholder="이름" class="join_input">
                </div>  
                <div class="join_wrap">
                    <label for="phone_input" class="join_label">
                        휴대폰번호
                        <span class="join_sub_text1">'-'표시 없이 입력해주세요</span>
                    </label>
                    <input id="phone_input" name="phonnum" type="text" placeholder="휴대폰번호" class="join_input">
                </div>  
                <div class="join_wrap">
                    <label for="email_input" class="join_label">
                        본인확인 이메일
                        <span class="join_sub_text1">합격여부 및 오리엔테이션 등에 관한 정보가 이메일로 발송되니 메일을 정확히 입력해주세요.</span>
                    </label>
                    <input id="email_input" name="email" type="text" placeholder="이메일" class="join_input">
                </div>  
            </div>      
            <div class="foodtext_wrap">
                <div class="join_wrap">
                    <label for="food_cate" class="join_label">
                        판매 품목
                        <span class="join_sub_text1">작성하신 신청서와 동일한 품목으로 기재해주세요</span>
                    </label>
                    <select>
                        <option>스트릿푸드</option>
                        <option>한국전통식</option>
                        <option>퓨전글로벌</option>
                    </select>
                    <input id="food_cate" name="food" type="text" placeholder="품목이름" class="join_input">
                </div>  
                <div class="join_wrap">
                    <label for="food_title" class="join_label">
                        매대이름
                        <span class="join_sub_text1">7글자 이내로 기재해주세요</span>
                    </label>
                    <input id="food_title" name="foodtitle" type="text" placeholder="매대이름" class="join_input">
                </div> 
            </div>      
        </form>
        <div class="check_wrap">
            <a href="/">취소</a>
            <button>
                <a href="join1">가입하기</a>
            </button>
        </div>
    </section>
    