
    </header>
    <section id="login_wrap">
        <a href="/">
            <div>X</div>
        </a>
        <h2>약관 동의</h2>
        <div class="agree_title">
            <label>약관동의</label>
            <div>서문시장야시장 이용 약관, 개인정보 수집 이용 약관 동의에 모두 동의합니다.</div>
        </div>
        <div class="empty_space"></div>
        <label class="check">서문시장야시장 이용 약관</label><span>(필수)</span>
        <textarea>
    ◯ 야시장 공동조리장을 활용한 공유주방 사업 연계 가능
            ◯ 상설문화공연, 야간 조명 경관 등 다양한 콘텐츠 즐길거리 제공
  ◯ 음식매대의 기본계약 기간은 1년 단위, 5년까지이며, 대학매대 기본       계약기간 6개월(1년까지 연장 가능)이다.
  ◯ 신청서 및 제출서류가 허위이거나 거짓일 경우 지원 대상에서 제외
  ◯ 입점자로 선정된 이후라도 신원조회, 사실조사 및 검토결과에 따라
     참여가 취소될 수 있음
     ◯ 제출된 서류는 일체 반환되지 않음
  ◯ 공개모집 신청에 소요되는 일체의 비용은 신청자 부담을 원칙으로 함
  ◯ 상기 본인은 야시장 프리마켓 소속된 셀러를 대표하여 야시장 운영 목적에 동의하고,     야시장 운영규칙을 준수할 것을 서약합니다.
◯ 야시장에서 제한하는 먹거리 등은 품목은 취급할 수 없으며, 이와 관련한 분쟁이      발생하면 책임지고 해결하여야 한다.
◯ 프리마켓 영업은 금 ~ 일 및 공휴일이며, 영업시간은 야시장 운영시간과 동일하며     이를 준수해야 한다. 단, 우천 등 야시장 운영시간은 사정에 따라 변동될 수 있다. 
◯ 기본계약은 1년 단위이며, 5년까지 연장이 가능하다. 
◯ 야시장에서 판매할 소속된 셀러 목록 및 개인정보 제공·이용 동의를 제공해야 한다.
◯ 야시장의 약정된 관리비는 관리업체에서 매월 일괄 납부한다.
        </textarea>
        <div class="empty_space"></div>
        <label class="check">개인정보 제공 이용 동의서(공통)</label><span>(필수)</span>
        <textarea>
            대구전통시장진흥재단에서 운영하는 야시장 프리마켓 관리업체 모집을  위해 아래와 같은 개인정보를 수집합니다. 

  1. 수집․이용목적
    - 프리마켓 관리업체 및 소속된 셀러 관련 자료 관리

  2. 수집항목
    - 성명, 주소, 휴대폰 번호, 이메일

  3. 보유 및 이용기간 : 채용, 임금지급, 공공 기록물 관리에 관한 법률
                       제19조(기록물의 관리 등)에 의하여 5년간 보관

  4. 동의 거부 및 동의 거부시 불이익 내용
    - 개인정보 수집 동의를 거부하실 수 있습니다. 다만, 동의하지 않을 경우 일정이 지연되거나 불이익을 받을 수 있습니다.

    ※ 개인정보는 「개인정보보호법」에 따라 보호됩니다.
    ※ 정보주체 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체없이 파기합니다. 
        </textarea>
    <div class="empty_space"></div>
    <div class="choise_wrap">
        <div>가입 형태 : 
            <input type="checkbox" name="chec" value="free" checked="checked"/>프리마켓,
            <input type="checkbox" name="chec" value="free" />식품셀러<br />
        </div>
    </div>
    <div class="check_wrap">
        <a href="/">취소</a>
        <button>
            <a href="join1">확인</a>
        </button>
    </div>
    </section>
    