        <div class="headban introheadban">
                <div class="middle_wrap">
                    <h1>야시장소개</h1>
                    <ul class="mnavi">
                        <li><a href="#intromarket">야시장소개</a></li>
                        <li><a href="#hitorypage">역사 및 개요</a></li>
                        <li><a href="#zidopage">오시는 길</a></li>
                        <li><a href="#tour">투어미션</a></li>
                    </ul>
                </div>       
        </div>    
    <main class="imain">
        <section class="wrap1200 isec1">
            <iframe  src="https://www.youtube.com/embed/pZ3BaVmgml4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
        <div class="wrap100 hash">
            <h2>#夜한테마파크 #글로벌한야시장</h2>
        </div>
        <section class="wrap1200 isec2" id="intromarket">
            <div class="intro">
                <div class="intro_head">  
                </div>
                <div class="textbox">
                    <div class="introtext1">
                        <p>전 세계인과 함께하는, 대한민국 대표 야시장 ‘서문시장 야시장’
                        여러분과 함께 만들어가는 夜한 테마파크!
                        서문시장 야시장은 2016년 6월에 개장한,
                        총거리 350M에 달하는 대형 야시장입니다.
                        우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여
                        총 80대의 매대에서 다양한 먹거리, 살거리를 판매하며
                        매일 저녁, 시민과 관광객에게 즐거움을 선사하는
                        복합문화공간입니다. 특히, 먹거리 일색인 타 야시장과는 달리
                        먹거리, 볼거리, 즐길거리의 3대 요소가 연중으로 펼쳐지는
                        마법같은 관광지이기도 합니다</p>
                    </div>    
                    <div class="introtext2">
                        <p>연중무휴로 펼쳐지는 Fantastic Night Party!
                        야시장을 통한 성공적인 창업상단 육성!
                        서문시장 야시장은 대구의 밤문화와 다양한 첨단, 문화예술이 복합되어
                        어디에서도 찾을 수 없는 경험을 제공합니다.
                        글로벌, 퓨전 먹거리를 비롯하여 대구에서만 찾을 수 있는 독특한 음식
                        우리의 추억과 감성을 자극하는 다양한 볼거리, 살거리가 즐비합니다.
                        대구로 방문하신다면 반드시 찾아가봐야 할 
                        1순위는 단연 ‘서문시장 야시장’입니다.
                        </p>
                    </div>
                </div>
                <div class="introicon">
                    <div class="introiconn">
                        <div class="photop"></div>
                        <div class="textbox1">
                            <h2>야시장포토존</h2>
                            <p>빛나는 야시장속 숨은 포토존!
                                야경과 함께 야시장을
                                즐겨보세요</p>
                        </div>
                    </div>
                    <div class="introiconn">
                        <div class="foodp"></div>
                        <div class="textbox1">
                            <h2>다양한먹거리</h2>
                            <p>고유의 전통 먹거리를 비롯하여
                               새로운 창작 먹거리를 만나보세요.</p>
                        </div>
                    </div>
                    <div class="introiconn">
                        <div class="playp"></div>
                        <div class="textbox1">
                            <h2>상설문화공연</h2>
                            <p>시민예술가 밴드 및 힙합은 물론이고
                                다양한 전통공연과 
                                놀이를 체험하세요</p>
                        </div>
                    </div>
                    <div class="introiconn">
                        <div class="restp"></div>
                        <div class="textbox1">
                            <h2>쉬어가는 놀거리</h2>
                            <p>먹거리 뿐 아니라 쉬어가며즐길수 있는
                                 다양한 놀거리를 만나보세요</p>
                        </div>
                    </div>
                </div>    
            </div>
        </section>
        <div class="wrap100 hash">
            <h2>#대한민국대표야시장 #서문시장야시장</h2>
        </div>
        <section class="wrap1200 sec3" id="spotpage">
            <div class="spotlogo">
                <h2>夜하게 놀자 대한민국대표야시장</h2>
                <h1>매대위치</h1>
                <h4>동산상가입구 부터 매대위치번호가 시작됩니다</h4>
                <span>매대위치는 매일 변경됩니다</span>
            </div>
            <div class="spotlist">
                <p>각 매대의 이름을 누르면,<br>
                    상세페이지가 표시됩니다</p>
                <div class="spotlistt">   
                    <div class="pbox"></div>
                    <h6>퓨전글로벌</h6>
                    <div class="ybox"></div>
                    <h6>한국전통식</h6>
                    <div class="bbox"></div>
                    <h6>스트릿푸드</h6>
                </div>     
            </div>
            <div class="zido">                
                <div class="zidotext">
                    <div class="zidotextbox">
                        <div class="bbox"></div>
                        <a href="#"><h6>1. 현풍닭강정</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="pbox"></div>
                        <a href="#"><h6>2. 반쎄오</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="ybox"></div>
                        <a href="#"><h6>3. 무뼈닭발</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="ybox"></div>
                        <a href="#"><h6>4. 혜담분식</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="pbox"></div>
                        <a href="#"><h6>5. 철판꽃삼겹김밥</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="pbox"></div>
                        <a href="#"><h6>6. 또띠자</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="pbox"></div>
                        <a href="#"><h6>7. 스시머스마</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="pbox"></div>
                        <a href="#"><h6>8. 스테이크새우꼬치</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="bbox"></div>
                        <a href="#"><h6>9. 파닭꼬치</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="pbox"></div>
                        <a href="#"><h6>10. 달콤쌀롱</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="pbox"></div>
                        <a href="#"><h6>11. 큐브스테이크</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="pbox"></div>
                        <a href="#"><h6>20. 팟타이</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="pbox"></div>
                        <a href="#"><h6>22. 홍콩에그와플</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="ybox"></div>
                        <a href="#"><h6>25. 직화불고기</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="pbox"></div>
                        <a href="#"><h6>27. 랍스타킹</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="bbox"></div>
                        <a href="#"><h6>40. 철판아이스크림</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="ybox"></div>
                        <a href="#"><h6>43. 이모네 막창</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="ybox"></div>
                        <a href="#"><h6>47. 야채뚱땡 삼겹말이</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="pbox"></div>
                        <a href="#"><h6>52. 뉴욕치즈스테이크</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="bbox"></div>
                        <a href="#"><h6>54. 오육전</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="pbox"></div>
                        <a href="#"><h6>59. 카베츠야끼</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="ybox"></div>
                        <a href="#"><h6>61. 반반막창</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="pbox"></div>
                        <a href="#"><h6>62. 차돌박이야끼소바</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="bbox"></div>
                        <a href="#"><h6>68. 타코야키</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="bbox"></div>
                        <a href="#"><h6>69. 6초밥</h6></a>
                    </div>
                    <div class="zidotextbox">
                        <div class="pbox"></div>
                        <a href="#"><h6>72. 뉴랍스타치즈구이</h6></a>
                    </div>                    
                </div>
            </div>    
        </section>
        <div class="wrap100 hash">
            <h2>#세계먹거리 #즐거운놀거리 #젊은볼거리</h2>
        </div>
        <section class="wrap100 isec4" id="hitorypage">
            <div class="wrap1200">
                <div class="title_wrap">
                    <h1 class="sec_title">서문시장의 역사</h1>
                </div>
                <p>서문시장은 조선 중기 “대구장” 으로 처음 형성된 조선시대 전국 3대 장터충 한 곳이었습니다. 
                   원래는 대구 읍성 북문 밖에 자리 잡은 소규모의 장에 불과했지만 임진왜란과 정유재란을 겪으며
                   물자조달의 필요성에 의해 대규모 시장으로 발달했습니다. 그러던 중 1601년(선조 34년)에 경심감영이
                   대구에 설치되면서 행정권을 형성하며 경제적으로 부상됨에 따라 대구장에서 거래량이 급등하여 
                   동산파출소 위치로이동하게 되었습니다. 당시 대구시장과 함께도내 각지를 연결하는 중심지가 되었고 
                   칠곡읍내장과 대구읍내장을 중심으로 완전한 시장망이 형성되었습니다. 1920년 대구시가지가 확장되면서 
                   지금의 자리를 옮겼고 서문시장이라 불리게 되었습니다 </p>
                <div class="sec4_pic"></div>
                <div class="title_wrap">
                    <h1 class="sec_title">서문시장의 개요</h1>
                </div>
                <p>국내 3대 명품시장이며 경상권 최대 시장으로써 주단이나 포목 등의 섬유 제품과 더불어 다양한 먹을거리로 유명한 전통시장입니다. 특히 2016년 6월에는 국내 최대규모의 ‘서문 야시장’ 이 개장되면서 명실공히 한국의 전통과 맛을 선사할 수 있는 관광지로 부상하게 되었습니다. 2017년 현재, 서문시장은 약 5,522여개의 점포와 3만여명의 상인들이 상주하고 있으먀 포목, 작물, 의류 등 섬유관련 품목들과 청과물, 건해삼물, 신발 등 생활에 필요한 모든 것들이 있을 정도로 대규모 상권으로 운영되고 있습니다. 작물과 섬유관련 제품은 전국에서도 알아주는 유명한 상품들이 많이 있습니다. 서문시장은 경상권 지역만의 생활을 책임지는 최대 규모의 전통시장임을 동시 국내/외 어디에서도 볼수 없는 한국인의 생활상을 엿볼 수 있는 핫플레이스 입니다. 인근에는 동성로 다운타운, 김광석 거리, 근대역사골목 등 가볼만한 곳이 풍부한 관광의 중심지이기도 합니다. </p>   
            </div>    
        </section>
        <section class="wrap100 sec5" id="#timetalbe">
            <div class="wrap1200">    
                <div class="followzido" id="zidopage"></div>
                <div class="lasttime">
                    <h1>서문시장야시장 영업시간</h1>
                    <h4>평일,일(19시-23시) 금,토(19시-24시)</h4>
                    <h4>6,7,8월 : 평일, 일(19시-24시) 금,토(19시-24:30)</h4>
                    <h4>12,1,2월 : 평일,일(19시-22:30) 금,토(19시-23시)</h4>

                </div>
            </div>
        </section>
        <div class="wrap100 hash">
            <h2>#가족과함께 #친구들과함께 #서문시장야시장</h2>
        </div>
        <section class="wrap100 sec6" id="tour">
            <div class="wrap1200">
                <div class="tourmission"></div>
            </div>
        </section>
        <div class="wrap100 hash">
            <h2>#미션과함께 #즐거움도UP #선물도 팡팡</h2>
        </div>
        <section class="wrap100 sec7">
            <div class="covid">
                <div class="covid_img"></div>
                <h1>서문시장은 코로나19 확산 방지를 위해
                    최선을 다 하고 있습니다.</h1>
                <h2>서문시장 야시장은 수시로 소독과 방역을 진행하고 있습니다.<br>
                마스크 착용을 부탁드리며 고객센터에서는 마스크 및 손소독제를 드립니다.</h2>
            </div>
        </section>
        <div class="wrap100 hash">
            <h2>#친구 #연인 #가족 과 함께 즐거운 추억을 만드세요</h2>
        </div>
    </main>
