   
            <div class="headban foodheadban">
                <div class="middle_wrap">
                    <h1>먹거리 살거리</h1>
                    <ul class="mnavi">
                        <li><a href="#">퓨전글로벌</a></li>
                        <li><a href="#">한국정통식</a></li>
                        <li><a href="#">스트릿푸드</a></li>
                        <li><a href="#">살거리</a></li>
                    </ul>
                </div>       
            </div>    
    </header>
    <main>
        <section class="wrap1200 table_search_wrap">
            <article class="search_wrap">
                <h4>SEARCH</h4>
                <div class="search_scroll_box">
                    <select class="search_scroll">
                        <option>제목</option>
                        <option>내용</option>
                    </select>
                </div>
                <div class="search_textbox">
                    <input type="text" placeholder="검색어를 입력하세요">
                    <div class="search_click"></div>
                </div>    
            </article>
            <article class="tablelist_wrap">
                <table>
                    <colgroup>
                        <col class="picture">
                        <col class="food_title">
                        <col class="food_more">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>점포사진</th>
                            <th>매장이름/위치</th>
                            <th>상세보기</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td_picture">
                                <a href="">
                                    <img src="../img/seomoon/food/a1.jpg">
                                </a>
                            </td>
                            <td class="td_title">
                                <a href="">목살직화구이</a>
                                <p>목살샐러드, 목살스테이크</p>
                                <p>스트릿푸드</p>
                            </td>
                            <td class="td_food_more">
                                <button>상세보기</button>
                            </td>
                        </tr>    
                        <tr>
                            <td class="td_picture">
                                <a href="">
                                    <img src="../img/seomoon/food/a2.jpg">
                                </a>
                            </td>
                            <td class="td_title">
                                <a href="">바오번</a>
                                <p>바베큐 & 고추잡채</p>
                                <p>스트릿푸드</p>
                            </td>
                            <td class="td_food_more">
                                <button>상세보기</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_picture">
                                <a href="">
                                    <img src="../img/seomoon/food/a3.jpg">
                                </a>
                            </td>
                            <td class="td_title">
                                <a href="">랍스타벅스</a>
                                <p>수제소스 랍스타구이</p>
                                <p>퓨전글로벌</p>
                            </td>
                            <td class="td_food_more">
                                <button>상세보기</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_picture">
                                <a href="">
                                    <img src="../img/seomoon/food/a4.jpg">
                                </a>
                            </td>
                            <td class="td_title">
                                <a href="">만만천천치즈만두</a>
                                <p>새우만두, 치즈만두, 쭈꾸미떡볶이</p>
                                <p>스트릿푸드</p>
                            </td>
                            <td class="td_food_more">
                                <button>상세보기</button>
                            </td>
                        </tr> 
                        <tr>
                            <td class="td_picture">
                                <a href="">
                                    <img src="../img/seomoon/food/a5.jpg">
                                </a>
                            </td>
                            <td class="td_title">
                                <a href="">작은베트남분짜</a>
                                <p>돼지분짜, 새우분짜</p>
                                <p>퓨전글로벌</p>
                            </td>
                            <td class="td_food_more">
                                <button>상세보기</button>
                            </td>
                        </tr>  
                        <tr>
                            <td class="td_picture">
                                <a href="">
                                    <img src="../img/seomoon/food/a6.jpg">
                                </a>
                            </td>
                            <td class="td_title">
                                <a href="">캉카롱</a>
                                <p>수제디저트, 마카롱</p>
                                <p>스트릿푸드</p>
                            </td>
                            <td class="td_food_more">
                                <button>상세보기</button>
                            </td>
                        </tr>     
                        <tr>
                            <td class="td_picture">
                                <a href="">
                                    <img src="../img/seomoon/food/a7.jpg">
                                </a>
                            </td>
                            <td class="td_title">
                                <a href="">구르매베이컨꼬치</a>
                                <p>삼겹살꼬치, 베이컨꼬치</p>
                                <p>스트릿푸드</p>
                            </td>
                            <td class="td_food_more">
                                <button>상세보기</button>
                            </td>
                        </tr>     
                        <tr>
                            <td class="td_picture">
                                <a href="">
                                    <img src="../img/seomoon/food/a8.jpg">
                                </a>
                            </td>
                            <td class="td_title">
                                <a href="">야채뚱땡 삼겹말이</a>
                                <p>달콤삼겹말이, 매콤삼겹말이</p>
                                <p>스트릿푸드</p>
                            </td>
                            <td class="td_food_more">
                                <button>상세보기</button>
                            </td>
                        </tr>   
                        <tr>
                            <td class="td_picture">
                                <a href="">
                                    <img src="../img/seomoon/food/a9.jpg">
                                </a>
                            </td>
                            <td class="td_title">
                                <a href="">치즈떡갈비 스테이크</a>
                                <p>미니떡갈비, 떡갈비스테이크</p>
                                <p>스트릿푸드</p>
                            </td>
                            <td class="td_food_more">
                                <button>상세보기</button>
                            </td>
                        </tr>     
                        <tr>
                            <td class="td_picture">
                                <a href="">
                                    <img src="../img/seomoon/food/a10.jpg">
                                </a>
                            </td>
                            <td class="td_title">
                                <a href="">연화다방</a>
                                <p>고급밀크티, 귤주스, 딸기우유</p>
                                <p>스트릿푸드</p>
                            </td>
                            <td class="td_food_more">
                                <button>상세보기</button>
                            </td>
                        </tr>                
                    </tbody>
                </table>
            </article>    
            <article class="table_num">
                <div>
                    <a href="#">&lt;&lt;</a>
                    <a href="#">&lt;</a>
                    <a class="pass" href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">7</a>
                    <a href="#">8</a>
                    <a href="#">9</a>
                    <a href="#">10</a>
                    <a class="pass" href="#">></a>
                    <a  href="#">>></a>
                </div>    
            </article>            
        </section>
    </main>  
    
