
        <div class="full_header">
            <a class="full_header_logo" href="intro"></a>
            <div class="full_header_cover"></div>
            <div class="full_header_img">
                <video loop muted autoplay poster="../img/seomoon/main/full_cover_video_Moment.jpg">
                    <source src="img/seomoon/main/full_cover_video.mp4">
                </video>
            </div>
        </div>
    </header>
    <main class="bmain">
        <section>
            <div class="wrap100 msec1">
                <div class="wrap1200">
                    <div class="box slogun"></div>                            
                    <div class="box search">
                        <div>
                            <h2>상점찾기</h2>
                            <div class="search_input">
                                <input type="text" ><a href=""><span>검색</span></a>
                            </div>
                            <div>
                                <h4>TAG |</h4>
                                <a href=""><h6>#스트릿푸드</h6></a>
                                <a href=""><h6>#퓨전음식</h6></a>   
                                <a href=""><h6>#대구볼거리</h6></a>   
                                <a href=""><h6>#미디어피사드</h6></a>   
                                <a href=""><h6>#한국전통식</h6></a>   
                                <a href=""><h6>#야시장공연</h6></a>   
                            </div>    
                        </div>
                    </div>
                    <div class="buynoti">
                        <div class="box buy">
                            <div>
                                <h2>살거리</h2>
                                <a href="food"><span class="longspan">상세보기</span></a>
                            </div>
                        </div>
                        <div class="box noti">
                            <div class="t_noti">
                                <h2>공지사항</h2>
                                <a href="notice"><span>더 보기</span></a>
                            </div>
                            <div class="m_noti">
                                <a href="notice_1"><h2>신종 코로나바이러스감염증 예방 행동 수칙 등  </h2></a>
                                <a href=""><h2>서문시장야시장 영업시간 변경</h2></a>
                                <a href=""><h2>설 명절 특별 이벤트 진행</h2></a>
                                <a href=""><h2>서문야시장 '22년 설 연휴 기간 영업 공지'</h2></a>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>    
        </section>
        <section class="wrap1200">
            <div class="msec2">
                <article class="box left_sec2">
                    <div class="sec2_linfo">
                        <h1 class="blackh">프리마켓</h1>
                        <h1 class="whiteh">셀러모집</h1>
                        <a href=""><span class="longspan">상세보기</span></a>
                    </div>
                </article>
                <article class="box right_sec2">
                    <div class="sec2_rinfo">
                        <h1 class="whiteh">매대운영자</h1>
                        <h1 class="blackh">상시모집</h1>
                        <a href=""><span class="longspan">상세보기</span></a>
                    </div>
                </article>
            </div>
        </section> 
           <section class="wrap1200">
               <div class="sec3_mobile"></div>                    
               <div class="seespot">
                   <div class="seespot_img">
                       <div>
                           <em class="up">∧</em>
                           <em class="down">∨</em>
                       </div>
                   </div>
                   <div class="box seespot_text">
                       <h2>볼거리</h2>
                       <h4>김광석다시그리기길</h4>
                       <a href="seespot"><span class="longspan">상세보기</span></a>
                   </div>
               </div>  
           </section>   
        <section class="wrap1200">
            <article class="msec4">
                <a class="box smartsurv" href=""></a>
                <a class="box tele" href="notice">
                    <h2>고객센터</h2>
                </a>
                <a class="box map" href="intro">
                    <h2>오시는길</h2>
                </a>
            </article>
        </section>
    </main>
 